<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="four wide column">
                <h4 class="ui inverted header">Виктис</h4>
                <div class="ui inverted link list">
                    <a href="http://viktis.ru/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B2%D0%B8%D0%BA%D1%82%D0%B8%D1%81/" class="item">Контакты</a>
                    <a class="item">&nbsp;</a>
                    <a href="http://sylius.ru" class="item">{{ 'sylius.ui.powered_by'|trans  }} Sylius.Ru</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">www.viktis.ru</h4>
                <div class="ui inverted link list">
                    <a href="http://viktis.ru/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B2%D0%B8%D0%BA%D1%82%D0%B8%D1%81/" class="item">Услуги</a>
                    <a href="http://viktis.ru/%D1%81%D0%B5%D1%80%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D1%8B/" class="item">Сертификаты</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">ООО «Виктис»</h4>
                <div class="ui inverted link list">
                    <a href="http://viktis.ru/%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8-%D0%B2%D0%B8%D0%BA%D1%82%D0%B8%D1%81/" class="item">Доставка</a>
                    <a href="http://viktis.ru" class="item">Корпоративный сайт</a>

                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">viktis.ru</h4>
                <div class="ui inverted link list">
                    <a class="item">ООО «Виктис»</a>
                    <a class="item">Санкт-Петербург</a>
                    <a class="item">БЦ "НОБЕЛЬ", офис 68,</a>
                    <a class="item">Т: (812)715-52-53</a>
                    <a class="item">Т: (812)715-23-23</a>
                </div>
            </div>
        </div>
    </div>
</footer>
