<div class="ui fluid card">
    <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@SyliusShop/Taxon/_mainImage.html.twig' with {'taxon': taxon} %}
    </a>
    <div class="content">
        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug}) }}" class="header sylius-product-name">{{ taxon.name }}</a>
    </div>
</div>
